.global {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.content {
  padding: 1em
}

.title {
  padding-left: 10px;
}

ul.navigation-bar {
  background-color: #111;
  padding: 0;
  display: flex;
  justify-content: space-between; /* Pushes left and right sections apart */
  align-items: center;
}

ul.navigation-bar li {
  display: inline;
  list-style-type: none;
  margin: 0;
}

ul.navigation-bar li a {
  color: #FFF;
  font-weight: bold;
  text-decoration: none;
  padding: 20px;
  display: inline-block;
}

/* Optional: Add hover effect */
ul.navigation-bar li a:hover {
  background-color: #575757;
}

.table-row {
  width: 11%;
}


.page-title {
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-bottom: 1rem;
  border-bottom: 2px solid #f2f2f2;
  font-weight: 300;
}


.custom-icon {
    color: #116AAB;
    font-size: 1.3rem;
}

.nav-link-button {
  background: none;
  border: none;
  color: #FFF;
  text-decoration: none;
  font-weight: bold;
  cursor: pointer;
  padding: 20px;
}

.nav-link-button:hover {
  text-decoration: underline;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f8f9fa;
}

.form-content {
  background-color: #ffffff;
  padding: 40px;
  border-radius: 10px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 700px;
}

.form-content h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: bold;
  color: #333;
}

.form-control {
  border-radius: 5px;
  height: 45px;
}

.filters {
  margin: 20px 0;
}

.filters-wrapper {
  display: flex;
}

.filter-field {
  margin-right: 10px;
  max-width: 200px;
}

.date-field {
  margin-right: 10px;
  width: 250px;
}